/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

6801             BITMAP                  "6801.bmp"
6802             BITMAP                  "6802.bmp"

/////////////////////////////////////////////////////////////////////////////
